html {
  height: 100%;
  width: 100%;
}
.caigido {color:#f3f1eb; background-color: #3d547f; text-align: center; padding: 20px;}
.chaclavay {background-color:black;}
.chaclavay a{color:white; float:center; display:block; padding: 4px;}
.chaclavay a:hover{padding: 4; color: #b2c0d2; background-color:#b2c0d2;}
